.logo {
  padding-left: 25px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  float: left;
}

body {
  background-color: var(--primary);
  position: relative;
}

.logotext {
  position: sticky;
  height: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
  text-align: start;
  letter-spacing: 0.05em;
  color: #ffffff;
  border: none;
  background: none;
  float: left;
  margin-top: 35px;
  margin-bottom: 25px;
  border: 0;
}

.homebuttondiv {
  float: right;
  padding-top: 30px;
  padding-right: 25px;
}

.homebutton {
  position: sticky;
  height: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 0px;
  border: none;
  background: none;
  float: left;
  margin-left: 30px;
  margin-bottom: 25px;
}

.homebutton {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.homebutton:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #37a3f4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.homebutton:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.joinbox {
  background-color: var(--secondary);
  position: relative;
  text-align: center;
  padding: 40px;
  height: fit-content;
  padding-left: 20%;
  padding-right: 20%;
}

.navbox {
  background: none;
  position: relative;
}

.outer {
  position: relative;
  display: grid;
}

.jointext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #25b8f6;
  margin-bottom: 40px;
}

.desctext {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.joinbutton {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  background: #2c2f33;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  width: 223px;
  height: 50px;
  margin-top: 50px;
}

.joinbutton:hover {
  background: #ffffff;
  color: #2c2f33;
}
