#programs-section {
  height: 1628px;
  background-color: var(--primary);
  overflow: hidden;
}

.card-container {
  width: 440px;
  height: 650px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  justify-self: center;
}

#programs-title {
  color: var(--punch);
  font-family: var(--fontprimary);
  font-size: 33px;
  text-align: center;
  margin-top: 50px;
}

.programs-description {
  color: var(--contrast);
  font-family: var(--fontsecondary);
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.programs-description-box {
  width: 540px;
  background-color: var(--secondary);
  overflow: hidden;
  height: 426px;
  z-index: 2;
  position: relative;
  margin-top: 224px;
}

.programs-box-title {
  color: var(--contrast);
  font-family: var(--fontprimary);
  font: 33px;
  margin-left: 20px;
  margin-top: 20px;
  overflow: hidden;
}

.programs-image {
  width: 540px;
  z-index: 1;
  position: absolute;
}

.programs-image:hover {
  overflow: visible;
}

#programs-grid-page1 {
  display: grid;
  grid-template-columns: repeat(3, 440px);
  grid-template-rows: repeat(2, 650px);
  gap: 20px;
  width: 95%;
  margin: auto;
  justify-content: center;
  margin-top: 70px;
  transition: opacity 250ms;
  opacity: 1;
}

#programs-grid-page2 {
  display: none;
  grid-template-columns: repeat(3, 440px);
  grid-template-rows: repeat(2, 650px);
  gap: 20px;
  width: 95%;
  margin: auto;
  justify-content: center;
  opacity: 0;
}

#see-more-button {
  overflow: hidden;
  justify-content: center;
  margin: auto;
  width: 115px;
  margin-top: 50px;
}

#text-see-more-button {
  font-family: var(--fontsecondary);
  font-size: 17px;
  text-decoration: underline;
  color: var(--punch);
  overflow: hidden;
  justify-self: center;
}

#text-see-more-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 1340px) {
  #programs-grid-page1 {
    grid-template-columns: repeat(2, 440px);
    grid-template-rows: repeat(3, 650px);
  }
  #programs-grid-page2 {
    grid-template-columns: repeat(2, 440px);
    grid-template-rows: repeat(3, 650px);
  }
  #programs-section {
    height: 2278px;
  }
}

@media screen and (max-width: 900px) {
  #programs-grid-page1 {
    grid-template-columns: repeat(1, 440px);
    grid-template-rows: repeat(6, 650px);
  }
  #programs-grid-page2 {
    grid-template-columns: repeat(1, 440px);
    grid-template-rows: repeat(6, 650px);
  }
  #programs-section {
    height: 4278px;
  }
}
