@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500&display=swap");

:root {
  --primary: #060608;
  --secondary: #0a0a19;
  --punch: #737cff;
  --contrast: #fff;
  --fontprimary: "Montserrat", sans-serif;
  --fontsecondary: "Poppins", sans-serif;
}
